


body { 
	
	background-color: black; 

}

h1{

	position: absolute;
	font-family: dolphin with a massive shotgun;
	color: orange;
	opacity: 0.2;
	font-weight: normal;
	font-size: 10em;
	letter-spacing: 0.2em;
	text-align: justify;


}
h1:hover{

	opacity: 1;
  filter: alpha(opacity=50); 


}


h2 {
	position: absolute;
	font-family: alegreya sc;
	color: white;
	font-weight: normal;
	font-size: 0.5em;
	letter-spacing: 0.7em;
	text-align: left;
}

p {
	position: absolute;
	font-family: alegreya sc;
	color: white;
	font-weight: normal;
	font-size: 0.5em;
	letter-spacing: 0.7em;
	text-align: left;
}

.boxed1 {
	position: absolute;
  border: 2px solid orange;
  padding: 2em;
  width: 400px;
  height: 370px;
  top: 170px;
		bottom: 100px;
		right: 100px;
		left: 125px;

		border-radius: 50px 50px 50px 50px;


}

.boxed2 {
	position: absolute;
  border: 2px solid orange;
  padding: 2em;
  width: 400px;
  height: 270px;
  top: 620px;
		bottom: 100px;
		right: 100px;
		left: 125px;

		border-radius: 50px 50px 50px 50px;


}

a {
	position: absolute;
color: orange;
opacity: 0.2;
 font-family: digital play st;
 font-size: 0.5em;
 letter-spacing: 2.0em;
 text-align: center;
 top: 50px;
 left: 300px;

}

a:hover{

	opacity: 1;
  filter: alpha(opacity=50); 


}